<a href="https://colab.research.google.com/github/jennting/data-science/blob/master/en_python_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Challenge 1**

Write a Python program to count the number of occurrences of each word.

In [23]:
words = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]

from collections import Counter
counts = Counter(words)
print(counts)

Counter({'pink': 6, 'black': 5, 'white': 5, 'red': 4, 'green': 4, 'orange': 4, 'eyes': 1})

#### **Challenge 2**

Write a function that takes an integer number of hours and converts it to seconds.

Example:

convert(5) ➞ 18000

convert(3) ➞ 10800

convert(2) ➞ 7200

In [30]:
hours = int(5)
seconds = hours * 3600
print(seconds, "Seconds")

18000 Seconds

#### **Challenge 3**

Write a function that receives a list and returns a new ordered list with no duplicate values.

In [34]:
mylist = ["1","2","1","2","3","4","4","5"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['1', '2', '3', '4', '5']

#### **Challenge 4**

Write a function that takes a string as a parameter and returns another string with the words in reverse order.

Example:

text_inversion("Python is cool") ➞ "cool is Python"

In [38]:
text = "I live in Brooklyn"
a = text.split()
a.reverse()
result = " ".join(a)
print(result)

Brooklyn in live I

#### **Challenge 5**
You work in a shoe store and must contact a list of customers given by the following list of phone numbers:

In [45]:
telephone_numbers = [
'(765) 368-1506',
'(285) 608-2448',
'(255) 826-9050',
'(554) 994-1517',
'(285) 608-2448',
'(596) 336-5508',
'(511) 821-7870',
'(410) 665-4447',
'(821) 642-8987',
'(285) 608-2448',
'(311) 799-3883',
'(935) 875-2054',
'(464) 788-2397',
'(765) 368-1506',
'(650) 684-1437',
'(812) 816-0881',
'(285) 608-2448',
'(885) 407-1719',
'(943) 769-1061',
'(596) 336-5508',
'(765) 368-1506',
'(255) 826-9050',
]

from collections import OrderedDict
list(OrderedDict.fromkeys(telephone_numbers))

['(765) 368-1506',
 '(285) 608-2448',
 '(255) 826-9050',
 '(554) 994-1517',
 '(596) 336-5508',
 '(511) 821-7870',
 '(410) 665-4447',
 '(821) 642-8987',
 '(311) 799-3883',
 '(935) 875-2054',
 '(464) 788-2397',
 '(650) 684-1437',
 '(812) 816-0881',
 '(885) 407-1719',
 '(943) 769-1061']

However, some of these numbers are duplicated. Would you be able to remove these duplicates to prevent customers from being contacted more than once?

#### **Challenge 6**


Create a function that receives two lists and returns a list that contains only the common elements between the lists (without repetition). The function must support a list of different sizes.

**Lists:**

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
 
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [48]:
a =[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

print(set(a) & set(b))

{1, 2, 3, 5, 8, 13}

#### **Challenge 7**
A university professor has a class with the following phone numbers:

In [10]:
students_phones = ['(873) 810-8267', '(633) 244-7325', '(300) 303-5462', 
                    '(938) 300-8890', '(429) 264-7427', '(737) 805-2326', 
                    '(768) 956-8497', '(941) 225-3869', '(203) 606-9463', 
                    '(294) 430-7720', '(896) 781-5087', '(397) 845-8267', 
                    '(788) 717-6858', '(419) 734-4188', '(682) 595-3278', 
                    '(835) 955-1498', '(296) 415-9944', '(897) 932-2512', 
                    '(263) 415-3893', '(822) 640-8496', '(640) 427-2597', 
                    '(856) 338-7094', '(807) 554-4076', '(641) 367-5279', 
                    '(828) 866-0696', '(727) 376-5749', '(921) 948-2244', 
                    '(964) 710-9625', '(596) 685-1242', '(403) 343-7705', 
                    '(227) 389-3685', '(264) 372-7298', '(797) 649-3653', 
                    '(374) 361-3844', '(618) 490-4228', '(987) 803-5550', 
                    '(228) 976-9699', '(757) 450-9985', '(491) 666-5367',
                    ]

He created a whatsapp group. However only the following numbers entered:

In [11]:
in_the_group = ['(596) 685-1242', '(727) 376-5749', '(987) 803-5550', 
                     '(633) 244-7325', '(828) 866-0696', '(263) 415-3893', 
                     '(203) 606-9463', '(296) 415-9944', '(419) 734-4188', 
                     '(618) 490-4228', '(682) 595-3278', '(938) 300-8890', 
                     '(264) 372-7298', '(768) 956-8497', '(737) 805-2326', 
                     '(788) 717-6858', '(228) 976-9699', '(896) 781-5087',
                     '(374) 361-3844', '(921) 948-2244', '(807) 554-4076', 
                     '(822) 640-8496', '(227) 389-3685', '(429) 264-7427', 
                     '(397) 845-8267']

Would you be able to create a list of students who have not yet joined the group to be contacted individually?

In [56]:
students_phones = ['(873) 810-8267', '(633) 244-7325', '(300) 303-5462', 
                    '(938) 300-8890', '(429) 264-7427', '(737) 805-2326', 
                    '(768) 956-8497', '(941) 225-3869', '(203) 606-9463', 
                    '(294) 430-7720', '(896) 781-5087', '(397) 845-8267', 
                    '(788) 717-6858', '(419) 734-4188', '(682) 595-3278', 
                    '(835) 955-1498', '(296) 415-9944', '(897) 932-2512', 
                    '(263) 415-3893', '(822) 640-8496', '(640) 427-2597', 
                    '(856) 338-7094', '(807) 554-4076', '(641) 367-5279', 
                    '(828) 866-0696', '(727) 376-5749', '(921) 948-2244', 
                    '(964) 710-9625', '(596) 685-1242', '(403) 343-7705', 
                    '(227) 389-3685', '(264) 372-7298', '(797) 649-3653', 
                    '(374) 361-3844', '(618) 490-4228', '(987) 803-5550', 
                    '(228) 976-9699', '(757) 450-9985', '(491) 666-5367',
                    ]
in_the_group = ['(596) 685-1242', '(727) 376-5749', '(987) 803-5550', 
                     '(633) 244-7325', '(828) 866-0696', '(263) 415-3893', 
                     '(203) 606-9463', '(296) 415-9944', '(419) 734-4188', 
                     '(618) 490-4228', '(682) 595-3278', '(938) 300-8890', 
                     '(264) 372-7298', '(768) 956-8497', '(737) 805-2326', 
                     '(788) 717-6858', '(228) 976-9699', '(896) 781-5087',
                     '(374) 361-3844', '(921) 948-2244', '(807) 554-4076', 
                     '(822) 640-8496', '(227) 389-3685', '(429) 264-7427', 
                     '(397) 845-8267']

new = ((students_phones) + (in_the_group))
not_joined = list(set(notjoined))
print(not_joined)

NameError: ignored

#### **Challenge 8**

Write a Python script to find the 10 longest words in a file. Attentinon: The TXT file is located in the same folder as the project (text.txt) if you downloaded the GitHub repository.

In [71]:
from google.colab import files
uploaded = files.upload()

def longest_words(filename):
  with open(filename, 'r') as infile:
      words = infile.read().split()
      max_len = len(max(words, key=len))
  return [word for word in words if len(word) == max_len]

print(longest_words('text.txt'))

Saving text.txt to text (8).txt
['general-purpose,', 'object-oriented,']

#### **Challenge 9**


Write a function that returns the sum of multiples of 3 and 5 between 0 and a limit number (parameter). For example, if the limit is 20, it will return the sum of 3, 5, 6, 9, 10, 12, 15, 18, 20.

In [75]:
n = 1
for i in range(1,50):
    if not i % 5 or not i % 3:
      n = n + i
print(n)

544

#### **Challenge 10**


Given a list, divide it into 3 equal parts and reverse each list.

Example: 

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Part 1 [8, 45, 11]

Part 2 [12, 14, 23]

Part 3 [89, 45, 78]

In [94]:
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
def chunks (l, n):
  for i in range(0, len(l), n):
    yield l[i:i+n]

list(chunks(list_numbers, 4))

TypeError: ignored

#### **Challenge 11**

Given a sequence with `n` integers, determine how many numbers in the sequence are even and how many are odd. For example, for the sequence

6   2   7  -5   8  -4

the function should show 4 for the even numbers in this sequence and 2 for the odd numbers. The output must be a tuple containing first the number of even numbers and then the number of odd numbers. For the previous example, the output would be (4,2).

#### **Challenge 12**

Write a function in Python to check the validity of a password.

Validation:

* At least 1 letter between [a-z] and 1 letter between [A-Z].
* At least 1 number between [0-9].
* At least 1 character in [$ # @].
* Minimum length of 6 characters.
* Maximum length of 16 characters.

Entries: "12345678", "J3sus0", "# Te5t300", "J * 90j12374", "Michheeul", "Monk3y6"

The output must be the password and a text indicating whether the password is valid or invalid:

```
"1234" - Invalid password
"Qw#1234" - Valid password
```